.Home {
  background: green;
  display: flex;
  height: 630px;
  padding-top: 80px;
  position: relative;

}

.Home .Container h1 {
  margin: 0;
}

.Home .Code {
  height: 24%;
  position: absolute;
}